@using UUWebstore.Models;
@{
  
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<h2>browse Logo</h2>

@using (Html.BeginForm("browseLogo", "theme", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12"><label>Note: Try to upload Logo of size 120x27 </label></div>
    <div class="col-md-12">
        <div class="form-group">
          
            <div class="col-md-9 choose-img">
                <img id="pic" src='@ViewBag.img' alt="Logo" width="80px" height="80px">
                <input type="file" id="photoA" name="file" class="choose-input">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            //Get reference of FileUpload.
            var fileUpload = document.getElementById("photoA");
            if (fileUpload.value.length > 0) {
                //Check whether the file is valid Image.
                var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
                if (regex.test(fileUpload.value.toLowerCase())) {
                    var reader = new FileReader();
                    var s = fileUpload.files[0];
                    reader.readAsDataURL(s);
                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function () {

                            var height = this.height;
                            var width = this.width;
                            if (height != 120 || width != 27) {

                                bootbox.alert({
                                    title: "Alert !",
                                    message: 'Try to upload Logo of size 120x27'
                                });
                                return false;
                            }
                            else {

                                var reader1 = new FileReader();

                                reader1.onload = function (e) {
                                    $('#pic').attr('src', e.target.result);
                                }

                                reader1.readAsDataURL(input.files[0]);
                            }
                        };
                    }
                }
                else {

                    bootbox.alert({
                        title: "Alert !",
                        message: 'Please select .jpg,.png,.gif'
                    });
                    return false;
                }
            }

        }
    }

    $("#photoA").change(function () {
        readURL(this);
    });
</script>